@import "tailwindcss";

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
}

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-card-dark: #1a242f;
  --color-card-light: #ffffff;
  --color-txt-light: #ffffff;
  --color-txt-dark: #111418;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Noto Sans", sans-serif;
}

@layer {
  .active-style {
    @apply cursor-pointer active:scale-90;
  }
  .nav-a {
    @apply text-sm font-medium hover:text-primary transition-colors;
  }
}