@import "tailwindcss";

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
}

@theme {
  --color-primary: #137fec;
  --color-secondary: #99a1af;

  --color-background-dark: #101922;
  --color-background-heavy-dark: #111418;
  --color-card-dark: #1a242f;

  --color-light: #ffffff;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Noto Sans", sans-serif;
}

@layer {
  .active-style {
    @apply cursor-pointer active:scale-95 transition-transform;
  }
  .nav-a {
    @apply text-sm font-medium hover:text-primary transition-colors;
  }
  .filter-a {
    @apply px-4 py-1.5 rounded-full bg-secondary/10 hover:bg-primary hover:text-light text-sm font-medium transition-all;
  }
  .footer-a {
    @apply fill-gray-400 hover:fill-light;
  }
  .categories-a {
    @apply flex flex-col items-center justify-center p-6 bg-card-dark border border-secondary/20 rounded-xl hover:bg-primary/5 hover:border-primary/50 transition-all;
  }
  .add-wishlist {
    @apply bg-primary;
  }
  .active-categories {
    @apply text-primary stroke-primary bg-primary/10 hover:bg-primary/20;
  }
}

#aside-desktop {
  height: calc(100dvh - 64px);
  overflow-y: auto;
}
#aside-desktop::-webkit-scrollbar {
  width: 20px;
}
#aside-desktop::-webkit-scrollbar-track {
  background: #99a1af11;
}
#aside-desktop::-webkit-scrollbar-thumb {
  background: #99a1af; /* barra */
  border-radius: 16px;
  border: 6px solid transparent;
  background-clip: padding-box;
}
#aside-desktop::-webkit-scrollbar-thumb:hover {
  background: #137fec;
  border: 6px solid transparent;
  background-clip: padding-box;
}
