@import "tailwindcss";

@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
}

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-card-dark: #1a242f;
  --color-card-light: #ffffff;
  --color-txt-light: #ffffff;
  --color-txt-dark: #111418;

  --font-display: "Space Grotesk", sans-serif;
  --font-body: "Noto Sans", sans-serif;
}

@layer {
  .active-style {
    @apply cursor-pointer active:scale-90;
  }
  .nav-a {
    @apply text-sm font-medium hover:text-primary transition-colors;
  }
  .filter-a {
    @apply px-4 py-1.5 rounded-full bg-gray-200 dark:bg-gray-400/20 hover:bg-primary hover:text-txt-light dark:hover:bg-primary text-sm font-medium transition-all;
  }
  .footer-a {
    @apply fill-gray-500 dark:fill-gray-400 hover:fill-txt-dark dark:hover:fill-txt-light;
  }
  .categories-a {
    @apply flex flex-col items-center justify-center p-6 bg-card-light dark:bg-card-dark border border-gray-200 dark:border-[#283039]  rounded-xl hover:bg-primary/5 hover:border-primary/50 transition-all;
  }
}